<div class="container">
  <div class="card">
    <div class="card-body">

      <h3>Reactive Forms</h3>
      <form class="form-group" [formGroup]="form">
        <input type="text" class="form-control" formControlName="name" placeholder="Name" />
        <input type="text" class="form-control" formControlName="age" placeholder="Age" [customErrors]="customErrors" />
        <input type="email" class="form-control" formControlName="email" placeholder="Email" />
      </form>


      <hr>
      <h3>Template Driven Form</h3>
      <form class="form-group" #f="ngForm">
        <input type="text" 
        class="form-control" 
        ngModel
        #name="ngModel"
        name="name"
        placeholder="Name"
        required>

        <input type="email" 
        class="form-control" 
        ngModel
        #email="ngModel"
        name="email"
        placeholder="Email"
        required
        email>

      </form>

    </div>
  </div>
</div>